*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.acordeon{
  background-color: lightskyblue;
  padding: 2em;
  width: 90%;
  max-width: 120em;
}

.acordeon .bloque{
  background-color: red;
  margin: 0 0 1em;
  padding: 1em;
}

.acordeon h2{
  background-color: lime;
  margin: 0 0 1em;
  padding: 1em;
}

.acordeon .contenido{
  background-color: pink;
  padding: 0em;
  height: 0;
  overflow: hidden;
  transition: all .5s ease;
}
.acordeon .bloque.activo .contenido{
  background-color: pink;
  height: 4em;
}